.title-div {
  width: 280px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 40px 0 19px 0;
}

.auth-title {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 20px;
  letter-spacing: 0.02em;
  color: #000;
  margin: 0;
  width: 129px;
  text-align: left;
}

.description {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 167%;
  letter-spacing: 0.02em;
  color: #555;
  margin: 0;
  height: 100px;
}

.description-span {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 12px;
  line-height: 167%;
  letter-spacing: 0.02em;
  color: #000;
}

.br {
  display: none;
}

@media (min-width: 768px) {
  .title-div {
    width: 535px;

    gap: 20px;
    margin: 80px 115px 24px 115px;
  }

  .auth-title {
    font-size: 30px;
  }

  .description {
    font-size: 16px;
    line-height: 225%;
    height: 144px;
  }

  .description-span {
    font-size: 16px;
    line-height: 225%;
  }

  .br {
    display: block;
  }
}
