.modal-div {
  display: flex;
  flex-direction: column;
  margin-top: 96px;
  align-items: center;
}

.but-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-buttons {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 114%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #000;
  padding: 28px 118px;
  /* width: 100%; */
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #e2e3e5;
}

.modal-sign-out {
  margin-top: 28px;
}
